* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Noto Sans KR, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
}

table,
th,
td {
  border-collapse: collapse;
}
